@import '~antd/dist/antd.css';

* {
    margin-right: 2px;
}

.alert-warning{
    border: 1px solid orange;
    border-radius:2px;
    padding: 8px;
    color: rgb(247,167,0);
    background-color: rgb(255,251,242);
}

.col-sec {
    color: rgb(247,167,0);
}

/* .form-group input,select {
    width: 100%;
    height: 25px;
} */
.form-group textarea {
    /* width: 100%;
    height: 25px; */
    resize: none;
}

/* .form-group {
    width: 100%;
} */

/* #message {
    height: 80px;
} */